#access_key = ""
#secret_key = ""
region = "us-east-2"
instance = "t2.micro"
ami = "ami-0520e698dd500b1d1"
associate_public_ip_address = "true"
subnet_id =  "subnet-21a8df5b"
sec1_id = "sg-8bd369e5"
private_key_path = "/tmp/devops.pem"
username = "ec2-user"
keypair = "devops"
inst_cnt = {{env "inst_count"}}
